body{
    font-family: monospace, consolas;
    background-color: black;
    color:chartreuse;
    margin: 6rem;
}
h1, h2{
    text-align: center;
}
p{
    color:orange;
}
table{
    width: 50rem;
    border-collapse:collapse;
    border-style: solid;
    border-width: .15rem;
    text-align:left;
    font-size: medium;
}
th{
    border-bottom: .1rem solid chartreuse;
    font-size: large;
}
table th, td{
    border-left: .1rem solid chartreuse;
    padding: .75rem 2rem;
}
a{
    text-decoration: none;
    color: rgb(119, 175, 41);
}
a:visited{
    color: orange;
}
a:hover{
    color: orange;
    text-decoration: underline;
}